<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Notes</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <header class="container">
            <nav class="navbar navbar-expand">
                <span class="navbar-brand">SuperDuperDrive</span>
                <div class="navbar-nav nav-pills">
                    <a class="nav-item nav-link" id="navFiles" th:href="@{/files}">Files</a>
                    <a class="nav-item nav-link active" id="navNotes" th:href="@{/notes}">Notes</a>
                    <a class="nav-item nav-link" id="navCredentials" th:href="@{/credentials}">Credentials</a>
                </div>
                <form class="navbar-form form-inline ml-auto" action="#" th:action="@{/logout}" method="POST">
                    <button type="submit" id="navLogout" class="btn btn-sm btn-outline-info">Logout</button>
                </form>
            </nav>
        </header>
        <main class="container">
            <div class="table-responsive">
                <table class="table table-striped" id="noteTable">
                    <thead>
                        <tr>
                            <th style="width: 20%" scope="col" class="align-text-bottom">
                                <button type="button" id="noteAdd" class="btn btn-info" onclick="showNoteModal()">Add</button>
                            </th>
                            <th style="width: 20%" scope="col" class="align-text-bottom">Title</th>
                            <th style="width: 60%" scope="col" class="align-text-bottom">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="note : ${notes}" class="noteItem">
                            <td class="align-text-bottom">
                                <span hidden th:text="${note.noteId}" class="noteId">Id</span>
                                <button type="button" class="btn btn-sm btn-success noteEdit" th:onclick="showNoteModal([[${note.noteId}]], [[${note.title}]], [[${note.description}]])">Edit</button>
                                <a class="btn btn-sm btn-danger noteDelete" th:href="@{/notes/delete(id=${note.noteId})}">Delete</a>
                            </td>
                            <th scope="row" class="align-text-bottom">
                                <span th:text="${note.title}" class="noteTitle">Title</span>
                            </th>
                            <td class="align-text-bottom">
                                <span th:text="${note.description}" class="noteDescription">Description</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="noteModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Note</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form th:object="${noteForm}" action="#" th:action="@{/notes/edit}" method="POST">
                                <input type="hidden" name="noteId" id="noteModalId">
                                <div class="form-group">
                                    <label for="noteModalTitle" class="col-form-label">Title</label>
                                    <input type="text" name="title" class="form-control" id="noteModalTitle" maxlength="20" required>
                                </div>
                                <div class="form-group">
                                    <label for="noteModalDescription" class="col-form-label">Description</label>
                                    <textarea name="description" class="form-control" id="noteModalDescription" rows="5" maxlength="1000" required></textarea>
                                </div>
                                <button type="submit" class="d-none" id="noteModalSubmit"></button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="noteModalCancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" id="noteModalSave" class="btn btn-primary" onclick="$('#noteModalSubmit').click();">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <script type="text/javascript">
            function showNoteModal(noteId, title, description) {
                $('#noteModalId').val(noteId ? noteId : '');
                $('#noteModalTitle').val(title ? title : '');
                $('#noteModalDescription').val(description ? description : '');
                $('#noteModal').modal('show');
            }
        </script>
    </body>
</html>